{
  "env": {
    "test": {
      "plugins": ["babel-plugin-istanbul", {
        "extension": [".js", ".vue"]
      }],
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}