@tailwind base;
@tailwind components;
@tailwind utilities;

/* additional styles */
:focus {
  outline: none !important;
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.15s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}

/* .vgt-table thead th {
  background: none;
  @apply bg-theme-bg text-base text-theme-text;
}

table.vgt-table {
  @apply bg-theme-bg;
}

.vgt-table th {
  @apply bg-theme-bg-d;
}

.vgt-table th, .vgt-table td {
  @apply border border-theme-border;
}

.vgt-text-disabled {
  @apply text-theme-text-d;
} */