@tailwind base;
@tailwind components;
@tailwind utilities;

/* additional styles */
:focus {
  outline: none !important;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--theme-link);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--theme-link-hover);
}